
body {
    background-color: #000;
    color: #ffffff;
}

.all {
    width: 1920px;
    margin: auto;
    /* border: solid;
    border-color: white */
}

.logo {
    margin-right: 80px;
    width: 150px;
    /* border: solid;
    border-color: white; */
}

header {
    margin-top:80px;
    display: flex;
    justify-content: center;
    /* border: solid;
    border-color: white; */
}


.spisokshapka ul {
    list-style: none;
}

.spisokshapka a {
    list-style: none;
    color: white;
    text-decoration: none;  
}

.spisokshapka li {
    display: inline;
    margin: 25px;
    font-family: "Avenir Next Cyr", sans-serif;
}

@font-face {
    font-family: "Avenir Next Cyr";
    src: url(fonts/avenirnextcyr-light.ttf);
}

.spisokshapka a:hover {
    color: rgb(128, 20, 20);
    transition: 0.5s;
}

@font-face {
    font-family: "Cy Grotesk Grand Dark";
    src: url(fonts/cy-grotesk-grand-dark.otf);
}

.imggl {
    margin-top: 50px;
    white-space: nowrap;
    background-image: url(/img/main__first_screen_bg.jpg);
    background-position: 0% 50%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14vw;
    line-height: 82%;
    text-transform: uppercase;
    font-family: "Cy Grotesk Grand Dark", sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    display: block;}

.allinfo {
    width: 1920px;
    display: grid;
    justify-content: center;
    }

.blockinfo {
    width:1920px;
    height: 1080px;
    /* border: solid;
    border-color: white; */
    display: grid;
    justify-content: center;
    margin-left: 115px;
    margin-top: 80px;
} 

.textinfo {
    width: 1920px;
    height: 400px;
    /* border: solid;
    border-color: white; */
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.iep {
    width: 700px;
    height: 400px;
    /* border: solid;
    border-color: white; */
    font-size: 90px;
    font-family:"Cy Grotesk Grand Dark", sans-serif;
    margin-right: 100px;
    line-height: 98%;
}

.iep p {
    color: rgb(165, 6, 48);
    margin-top: 0px;
}

.iep span {
    color: white;
}

.information {
    width: 400px;
    height: 350px;
    /* border: solid;
    border-color: white; */
    font-size: 24px;
    font-family: "Avenir Next Cyr", sans-serif;
}

.videotext {
    /* border: solid;
    border-color: white; */
    width: 1920px;
    height: 600px;
    display: flex;
    justify-content: center;
}

.video {
    /* border: solid;
    border-color: white; */
    width: 800px;
    height: 500px;
    margin-top: 100px;
}

.SR {
    width: 500px;
    height: 200px;
    /* border: solid;
    border-color: white; */
    font-size: 90px;
    font-family: "Cy Grotesk Grand Dark", sans-serif;
    position: absolute;
    margin-left: 763px;
    margin-top: 65px;
    line-height: 90%;
}

.SR p {
    color: white;
    margin-top: 0px;
}

.d {
    font-family: "Cy Grotesk Grand Dark", sans-serif;
    width: 465px;
    margin-left: 267px;
    /* border: solid;
    border-color: white; */
    font-size: 64px;
}

.nagrady {
    margin-left: 250px;
    width: 1920px;
    height: 400px;
    display: flex;
    justify-content: center;
    /* border: solid;
    border-color: white; */
}

.block1,.block2,.block3,.block4 {
    width: 450px;
    height: 300px;
    display: grid;
    border: solid;
    border-color: white;
    border-width: 1px;
    margin-right: 20px;
    margin-top: 20px;
}

.block1 p,.block2 p,.block3 p,.block4 p {
    margin-bottom: 0px
}

.text1 {
    font-size: 150px;
    font-family: "Cy Grotesk Grand Dark", sans-serif;
    margin-top: 0px;
    margin-left: 130px;
    /* border: solid;
    border-color: white; */
}

.block1 .text1 {
    margin-left: 190px;
}

.text2 {
    font-size: 28px;
    font-family: "Avenir Next Cyr", sans-serif;
    margin-left: 30px;
    /* border: solid;
    border-color: white; */
}

